---
title: Deeplearning
permalink: "deeplearning/index.html"
---
<h2>머신러닝/딥러닝 관련 공부자료입니다.</h2>

<h3>Tensorflow</h3>
<p><a href="https://hunkim.github.io/ml/">모두를 위한 머신러닝/딥러닝 강의</a>를 참조했습니다.</p> 

<br>
<div class="page-archive">
{% for post in site.posts %}
  {% if post.tag == "tensorflow"%}
  {% assign post_month_year = post.date | date: "%B %Y" %}
  {% assign newer_post_month_year = post.next.date | date: "%B %Y" %}
  {% if post_month_year != newer_post_month_year %}
    <h3 class="section-header-archive">
      {{ post_month_year }}
    </h3>
  {% endif %}
  <p>
    <a href="{{ post.url | prepend:site.baseurl}}" class="post-title-archive list">{{ post.title }}</a>
    <small class="text-muted"> {{ post.date | date_to_string }}</small>
  </p>
  {% endif %}
{% endfor %}
</div>

<h3>Pytorch</h3>

<br>
<div class="page-archive">
{% for post in site.posts %}
  {% if post.tag == "pytorch"%}
  {% assign post_month_year = post.date | date: "%B %Y" %}
  {% assign newer_post_month_year = post.next.date | date: "%B %Y" %}
  {% if post_month_year != newer_post_month_year %}
    <h3 class="section-header-archive">
      {{ post_month_year }}
    </h3>
  {% endif %}
  <p>
    <a href="{{ post.url | prepend:site.baseurl}}" class="post-title-archive list">{{ post.title }}</a>
    <small class="text-muted"> {{ post.date | date_to_string }}</small>
  </p>
  {% endif %}
{% endfor %}
</div>
