<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h2 class="section-header">
    다혜코딩랜드
  </h2>

  <p>
    <a href="https://github.com/dh00023" target="_blank" class="btn"><i class="fa fa-github fa-lg"></i> GitHub &rarr;</a>
    <a href="https://dh00023.gitbooks.io/til/content/" target="_blank" class="btn"><i class="fa fa-book fa-lg"></i> TIL Gitbook &rarr;</a>
  </p>

  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <h4 class="media-heading">Dahye Jeong</h4>
      <div class="media-body">
        <img src="https://avatars0.githubusercontent.com/dh00023?v=2&s=100" alt="Dahye Jeong">
      </div>
    </div>
  </p>
</div>

<!-- <h3>
  Shiori is Customizable!
</h3>

<p><button data-purplecoat-toggle="shiori" class="btn btn-default"><i class="fa fa-toggle-on"></i> Toggle Customizable Sections</button></p>

<p>&uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a>.</p>
 -->